.App {
  text-align: center;
}

.AppSecond {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.primary {
  color:red;
}

.font-xl {
  font-size: 72px;
}

a{
  text-decoration: none;
}

a:link{
  color :green;
}
/* a:hover{
  color: skyblue;
  background-color: red;
} */
a:hover{
  color: red;
}
a:active{
  color:orange;
}
a:visited{
  background: paleturquoise;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.welcome {
background-color: red;
height:30px;
}

.movieList {
  color: royalblue;
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin:20px 0;
}

.modalBox {
  border: royalblue;
  border-radius: 50%;
  border-width: 20px;
}